
@import './variables.less';
@import './sidebar.less';
@import './color.less';
@import './common.less';
@import './element-ui.less';
@import './iconfont.css';

  .login-container{
    background-image: url(../assets/imgs/login_bg.png);
    background-position: 0 0;
    background-repeat: no-repeat; 
    background-size: 100% auto; 
    padding:10% 0 10%; 
  }