@import 'iconfont.css';
#app .main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: 220px;
}
#app .sidebar-container {
  transition: width .28s;
  width: 220px !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}
#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}
#app .sidebar-container a {
  display: inline-block;
  width: 100%;
}
#app .sidebar-container .svg-icon {
  margin-right: 16px;
}
#app .sidebar-container .el-menu {
  border: none;
  width: 100% !important;
}
#app .hideSidebar .sidebar-container {
  width: 36px !important;
}
#app .hideSidebar .main-container {
  margin-left: 36px;
}
#app .hideSidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
  position: relative;
}
#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 10px !important;
}
#app .hideSidebar .el-submenu > .el-submenu__title {
  padding-left: 10px !important;
}
#app .hideSidebar .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}
#app .el-submenu__title i,
#app .el-menu-item i {
  color: #bfcbd9;
}
#app .el-menu-item.is-active i {
  color: #409EFF;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 180px !important;
  background-color: #1f2d3d !important;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}
#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 180px !important;
}
#app .mobile .main-container {
  margin-left: 0px;
}
#app .mobile .sidebar-container {
  top: 50px;
  transition: transform .28s;
  width: 180px !important;
}
#app .mobile.hideSidebar .sidebar-container {
  transition-duration: 0.3s;
  transform: translate3d(-180px, 0, 0);
}
#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none;
}
.themea .scroll-container {
  background-color: #304156;
}
.themeb .scroll-container {
  background-color: #304156;
}
.themec .scroll-container {
  background-color: #304156;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
div:focus {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.font-extra-large {
  font-size: 20px;
  color: #303133;
}
.font-title-large {
  font-size: 18px;
  color: #303133;
}
.font-title-medium {
  font-size: 16px;
  color: #303133;
}
.font-medium {
  font-size: 16px;
  color: #606266;
}
.font-small {
  font-size: 14px;
  color: #606266;
}
.font-extra-small {
  font-size: 13px;
  color: #606266;
}
.color-main {
  color: #409EFF;
}
.color-red {
  color: #f45353;
}
.color-oriange {
  color: #e6a23c;
}
.display-block {
  display: block;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.line-h20 {
  line-height: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.w100 {
  width: 100% !important;
}
.w180 {
  width: 180px !important;
}
.padding-40 {
  padding: 40px;
}
.out-border {
  border: 1px solid #DCDFE6;
}
.el-dialog__header {
  background: #fefefe;
  border-bottom: 1px solid #f2f2f2;
}
.el-table th {
  background: #f7f7f7;
}
.el-table tr:nth-child(even) {
  background: #f7f7f7;
}
.el-table--enable-row-transition .el-table__body tr:hover td {
  background: #e5e5e5;
}
.login-container {
  background-image: url(../assets/imgs/login_bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10% 0 10%;
}
